.orClient_Container{
  display: flex;
  flex-wrap: wrap;
  
}

.orClient_HeadComponent{
    position: relative;
    background-color: red;
    width: 100%;
    height: 80px;

        
}

.orClient_HeadComponent .Orclient_Head_Left{
    position: absolute;
    background-color: rgb(216, 219, 222);
    border-top-right-radius: 150px;
    border-bottom-right-radius: 0px;
    width: 40%;
    height: 100%;
    top:0px;
    z-index: 1;
}

.orClient_HeadComponent .Orclient_Head_Left .Left_Text{
    position: absolute;
    top: 5px;
    right: 30%;
    font-size:45px;
    text-shadow:0.3em 0.3em 0.3em rgb(162, 166, 161);
    color:rgb(85, 89, 92);
    font-family:"標楷體";
    
}
.orClient_HeadComponent .Orclient_Head_Left  .Left_English{
    position: absolute;
    top: 53px;
    right: 26%;
    font-size:20px;
    color:rgb(227, 11, 33);
    font-family:"標楷體";
    
}


.orClient_HeadComponent .Orclient_Head_Right{
    position: absolute;
    top:0px;
    background-color: rgb(20, 153, 138);
    width: 100%;
    height: 100%;
    text-align: right;
    font-size:60px;
    z-index: 0;



}


.orClient_HeadComponent .Orclient_Head_Left .Logo{
    position: relative;
    margin-top: 0px;
    
}






.orClient_MiddleComponent {
    position: relative;
    background-color: rgb(66, 180, 60);
    width: 100%; 
    height: 700px;   

}

.orClient_MiddleComponent .Orclient_Middle_Left{
    position: absolute;
    background-color: rgb(135, 150, 134);
    width: 60%;
    height: 680px;    
    top:0;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.orClient_MiddleComponent .Orclient_Middle_Right{
    position: absolute;
    background-color: rgb(180, 60, 90);
    width: 48%;    
    right: 0;
    top: 0;
    height: 680px;    

    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;

}


.orClient_FootComponent{
    position: relative;
    background-color: rgb(178, 250, 63);
    width: 100%;   
    height: 150px; 

}


