.orClient_Container{
  display: flex;
  flex-wrap: wrap;
  
}

.orClient_HeadComponent{
    position: relative;
    background-color: red;
    width: 100%;
    height: 80px;

        
}

.orClient_HeadComponent .Orclient_Head_Left{
    position: absolute;
    background-color: rgb(216, 219, 222);
    border-top-right-radius: 150px;
    border-bottom-right-radius: 0px;
    width: 40%;
    height: 100%;
    top:0px;
    z-index: 1;
}

.orClient_HeadComponent .Orclient_Head_Left .Left_Text{
    position: absolute;
    top: 5px;
    right: 30%;
    font-size:45px;
    text-shadow:0.3em 0.3em 0.3em rgb(162, 166, 161);
    color:rgb(85, 89, 92);
    font-family:"標楷體";
    
}
.orClient_HeadComponent .Orclient_Head_Left  .Left_English{
    position: absolute;
    top: 53px;
    right: 26%;
    font-size:20px;
    color:rgb(227, 11, 33);
    font-family:"標楷體";
    
}


.orClient_HeadComponent .Orclient_Head_Right{
    position: absolute;
    top:0px;
    background-color: rgb(21, 71, 90);
    color: whitesmoke;
    width: 100%;
    height: 100%;
    text-align: right;
    font-size:60px;
    z-index: 0;
    font-family: "標楷體";



}


.orClient_HeadComponent .Orclient_Head_Left .Logo{
    position: relative;
    margin-top: 0px;
    
}






.orClient_MiddleComponent {
    position: relative;
    background-color: rgb(96, 188, 216);
    width: 100%; 
    height: 750px;   
    background-image: url("./image/backgrounds.jpg");
    background-repeat: no-repeat;
    background-size: cover;



}

.orClient_MiddleComponent .Orclient_Middle_Left{
    position: absolute;
    width: 60%;
    height: 680px;    
    top:0;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.orClient_MiddleComponent .Orclient_Middle_Right{
    position: absolute;
    width: 48%;    
    right: 0;
    top: 0;
    height: 680px;    
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;

}
.orClient_MiddleComponent .Orclient_Middle_Right_Patient_schedule{
    background-color: rgb(37, 43, 25);
  outline: 0.3rem solid rgb(241, 7, 46);
  border-radius: 5px;
  font: bold 1rem sans-serif;
  margin: 2rem;
  padding: 0rem;
  outline-offset: 0.5rem;
  color: aliceblue;
    text-align: center;
    font-family: "標楷體";
    font-size: 60px;


}

.orClient_MiddleComponent .Orclient_Middle_Right_Patient{
    font-family: "標楷體";
    position:relative;
    background-color: rgb(172, 222, 230);
    margin: 20px;
    border: 3px solid;
    border-radius: 8px;

}

.orClient_MiddleComponent .Orclient_Middle_Right_Patient .Orclient_Middle_Right_Patient_Name{
    width: 200px;    /* 固定寬度 */
    position:relative;
    font-size: 60px;
    display: inline-block;
    padding-left: 5%;
    
}


.orClient_MiddleComponent .Orclient_Middle_Right_Patient .Orclient_Middle_Right_Patient_Gender{
    position:relative;
    display: inline-block;
    font-size: 60px;
    padding-left: 20%;
}

.orClient_MiddleComponent .Orclient_Middle_Right_Patient .Orclient_Middle_Right_Patient_Status{
    position:relative;
    font-size: 60px;
    display: inline-block;
    float: right;
    padding-right: 2%;

}


.orClient_FootComponent{
    position: relative;
    background-color: rgb(21, 71, 90);
    color: whitesmoke;
    font-family: "標楷體";
    width: 100%;   
    height: 100%; 
    font-size: 25px;

    

}

.marquee-Cotntainer{
    top: 0;
    background-color: rgb(21, 71, 90);
    font-family: "標楷體";
    width: 100%;
    position: absolute;
    overflow: hidden;


}


.marquee-Text{
top: -30px;  /* 让它向上移动 */
position: relative;
white-space: nowrap;
display: inline-block;
width: 100%;
animation:marquee 30s linear infinite;
}




@keyframes marquee{
 0%{
    transform: translateX(100%); /* 初始位置，文本从右侧开始 */

 }
 100%{

    transform: translateX(-100%); /* 初始位置，文本从右侧开始 */

 }

}



